.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.visited{
    background-color: bisque;
    color: black;
}

.visitedFlags{
    width: 100px;
    margin-right: 10px;
}

@media screen and (max-width: 570px) {
    .country-container{
        grid-template-columns: 1fr;
    }
}